body { margin:0; }

* {
    font-family: Arial;
}

.headBar {
    background-color: #303030;
    padding: .1em;
}

#headTitle {
    color: white;
    padding-left: 5em;
}

.container {
    display: flex;
    padding: 0em 5em;
}

.loanButtons {
    display: flex;
}

.laptopViewer {
    display: flex;
    margin: 0em 10em;
    border: .1em solid lightgrey;
    border-radius: 1em;
    padding: 2em;
}

.laptopViewer div {
    width: 100%;
}

.laptopImage {
    flex: 2 1 0;
}

.chosenLaptopInfo {
    flex: 4 1 0;
}

.price {
    flex: 2 1 0;
}

button {
    padding: 1em 0em;
    margin: 1em 0em;
    border-radius: .5em;
    border: .1em solid;
    width: 45%;
    font-size: medium;
}

#loanButton {
    background-color: mediumspringgreen;
    border-color: mediumseagreen;
    width: 100%;
}

#payLoanButton {
    background-color: lightsalmon;
    border-color: chocolate;
    width: 100%;
}

#bankButton {
    background-color: yellow;
    border-color: yellowgreen;
}

#workButton {
    background-color: mediumslateblue;
    border-color: blueviolet;
    color: white;
}

#buyButton {
    background-color: deepskyblue;
    border-color: dodgerblue;
    font-weight: bold;
}

select {
    padding: .5em .1em;
    border-radius: .5em;
    border: .1em solid darkgrey;
    width: 60%;
}